
body {
    margin: 0;
    background: rgb(199, 69, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  canvas {
    background: #222;
    border: 2px solid white;
  }
  